#buttonwrappers{
    // border: 3px solid lime;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    align-items: center;
   
    
    .joinustitle{ 
        // background-image:
        font-family: 'Montserrat', 'Robot', sans-serif;
        color:#eaeaea;
        font-size: 5rem;
        // border: 3px solid brown;
        //margin-bottom: 5rem;
        margin: 0 auto;
        margin-bottom: 0.25rem;
        }

    p {
       font-family: 'Montserrat', 'Robot', sans-serif;
       color: #132943;
       margin: 0 auto;
       text-align: center;
       font-size: 1.2em;
    //    border: 3px solid purple;
       line-height: 1.7rem;
       align-self: stretch;
       height: .75rem;
       margin-bottom: 0;
    }



}

 